@import "tailwindcss";

@theme {
  --color-primary: oklch(0.684 0.13 106.31);
  --color-secondary: oklch(0.3976 0.1777 272.66);
  --color-accent: oklch(0.9114 0.1929 105.81);
  --color-bgColor : oklch(0.3417 0.0014 17.23);
  --color-bgColor2: oklch(0.26 0.002 264.7);
  --color-text-primary: oklch(0.8576 0.0 89.88);
  --color-text-secondary: oklch(0.5965 0.0 89.88);

  --page-padding: clamp(16px, 4vw, 32px);
  --sp-container: 1100px;
  --header-container: 960px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-bgColor);
  color: var(--color-text-primary);



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
  :root {
    --sp-container: 1200px;
    --header-container: 1040px;
  }
}

@media (min-width: 1280px) {
  :root {
    --sp-container: 1280px;
    --header-container: 1120px;
  }
}

@media (min-width: 1536px) {
  :root {
    --sp-container: 1440px;   /* para layouts amplios */
    --header-container: 1240px;
  }
}

header {
  max-width: calc(var(--header-container, var(--sp-container)) + var(--page-padding, 32px) * 2);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
